[Unit]
Description=SoftCoin's distributed currency daemon
After=network.target

[Service]
User=softcoin
Group=softcoin

Type=forking
PIDFile=/var/lib/softcoind/softcoind.pid
ExecStart=/usr/bin/softcoind -daemon -pid=/var/lib/softcoind/softcoind.pid \
-conf=/etc/softcoin/softcoin.conf -datadir=/var/lib/softcoind -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
